body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

/* TEXT AUTO TYPE */
#typedText {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* COFFEE IMAGE */
#coffee {
    width: 140px;
    animation: wiggle 1.2s infinite ease-in-out;
    margin-bottom: 20px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(4deg); }
    50% { transform: rotate(-4deg); }
    75% { transform: rotate(4deg); }
    100% { transform: rotate(0deg); }
}

/* BUTTON */
#btn {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    background: #ffbd59;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
    position: absolute;
}
