body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #fff2b3;
    text-align: center;
}

#bigImageContainer img {
    width: 260px;
    margin-top: 40px;
    margin-bottom: 10px;
    animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 18px 35px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

#noBtn {
    background: #ff6f6f;
    color: white;
    position: relative;
}

#yesBtn {
    background: #4caf50;
    color: white;
}

#itemContainer img {
    width: 170px;
    margin: 20px;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

/* Button kabur */
.runaway {
    position: absolute;
    transition: 0.3s;
}

/* Confetti */
.confetti {
    width: 12px;
    height: 12px;
    background: hsl(calc(360 * var(--i)), 90%, 60%);
    position: fixed;
    top: -10px;
    left: calc(1% * var(--x));
    animation: drop 3s linear forwards;
    border-radius: 50%;
}

@keyframes drop {
    to {
        transform: translateY(110vh) rotate(720deg);
    }
}
